<p><%= @user.name %>　様</p>

<p>この度は世田谷市場へのご登録、誠にありがとうございます。</p>
<p>登録を完了させるために、以下のリンクをクリックしてください。</p>
  <%= link_to  "アカウントを有効にする", edit_account_activation_url(@user.activation_token, email: @user.email) %>
